<h1>Welcome to Bridge Utilities!</h1>
<!-- <img src="images/bridge_logo.jpg" alt="Bridge Utilities" /> -->
<h2>About</h2>
<p>Currently, this website can be used to facilitate the process of choosing electives for students. Here's how:</p>
<p>For a <strong>student</strong>...</p>
<ol>
    <li>Each student must sign up by clicking the "Sign Up" button in the upper right corner.</li>
    <li>Descriptions of electives can be found on the sign up page.</li>
    <li>Once all students sign up, the admin should compute elective assignments (via instructions below).
    Once the admin has computed assignments, students should be able to see their elective assignments after 
    logging in and clicking on the "Profile" tab.</li>
</ol>
<p>For an <strong>administrator</strong>...</p>
<ol>
    <li>Login to your admin account.</li>
    <li>You can create electives by clicking the "Electives" tab and then "New Elective."</li>
    <li>Once all students have signed up with their chosen electives, click "Compute Assignments" under the "Users" tab. </li>
    <li>You will be redirected to an "Assignments" page, which displays a list of the students with their electives now computed.</li>
</ol>